@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-up {
  animation: fade-in-up 2s ease-out forwards;
}

.fade-in-up-slow {
  opacity: 0;
  animation: fade-in-up 2s ease-out forwards 1s;
}

.fade-in-down {
  animation: fade-in-down 1s ease-out forwards;
}

.fade-in {
  animation: fade-in 5s ease-out forwards;
}
