.fade-in-up {
  animation: fade-in-up-keyframes 2s ease-out forwards;
}

.fade-in-down {
  animation: fade-in-down-keyframes 1s ease-out forwards;
}

@keyframes fade-in-up-keyframes {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down-keyframes {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
